@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=PT+Serif:ital,wght@0,400;1,700&family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Serif", serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #F9F9F9;
  height: 800px;
  width: 100%;
}

header {
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F9F9F9;
}

.logo h2 {
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-weight: 900;
  font-size: 40px;
  padding-right: 50px;
}

header ul {
  margin: 0;
  padding: 0;
}

.nav-bar {
  list-style-type: none;
}
.nav-bar a {
  color: #8c2574;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0px 15px;
  font-weight: 600;
}
.nav-bar li {
  list-style: none;
  display: inline-block;
}

main {
  background-image: url(../recursos/fotos/fondo-main.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
}

.titulo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 70px;
  color: #8c2574;
  text-shadow: #2b2d42 7px 7px 7px;
}

main p {
  text-transform: initial;
  color: #ECE1DE;
  font-size: 40px;
  padding-left: 5px;
  color: #2b2d42;
  font-family: "PT Serif", serif;
}

.titulo-productos {
  text-align: center;
  font-size: 45px;
  text-transform: uppercase;
  padding: 15px;
  color: #8c2574;
  padding: 90px;
  font-weight: 2000;
}

.contenedor-tarjetas {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.contenedor-tarjetas h4 {
  text-transform: uppercase;
  padding-left: 10px;
  font-family: "PT Serif", serif;
  font-size: 30px;
}
.contenedor-tarjetas p {
  padding-left: 10px;
  text-align-last: start;
  color: #CED3DC;
  font-size: 20px;
}

.tarjetas {
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#imagen-1 {
  background-image: url(https://img.remediosdigitales.com/0b7f50/lamborghini_revuelto_6/1366_2000.jpeg);
}

#imagen-2 {
  background-image: url(https://cdn.motor1.com/images/mgl/kNREB/s1/lamborghini-huracan-sto.jpg);
}

#imagen-3 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

#imagen-4 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

#imagen-5 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

#imagen-6 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

#imagen-7 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

#imagen-8 {
  background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

.contenido {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 1, 7, 0.705);
  opacity: 0;
  transition: 0.5s;
}
.contenido h4 {
  color: #ffffff;
  margin: 10px 0;
  font-family: "PT Serif", serif;
  font-size: 600;
}

a {
  color: #ffffff;
  margin: 10px 0;
  font-family: "PT Serif", serif;
  font-size: 600;
}

.tarjetas,
.contenido:hover {
  opacity: 2;
}

.button {
  padding: 12px;
  font-family: "Poppins", sans-serif;
}

footer {
  width: 100%;
  height: 200px;
  box-sizing: unset;
}

.titulo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.titulo-footer h4 {
  text-transform: uppercase;
  color: #8c2574;
}

.contacto-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contacto-iconos i {
  font-size: 30px;
  padding: 15px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.sobre-nos {
  height: 700px;
}

.nos-titulo {
  padding: 20px 20px;
}

.texto {
  padding: 20px 50px;
  text-align: justify;
}

.nos-contenedor {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
}

.item-1 {
  background-image: url(../recursos/oficiales/facturas.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-1:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-2 {
  background-image: url(../recursos/oficiales/pan.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-2:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-3 {
  background-image: url(../recursos/oficiales/pizzas.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-3:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-4 {
  background-image: url(../recursos/oficiales/sorrentinos.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-4:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-5 {
  background-image: url(../recursos/oficiales/empanada.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-5:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-6 {
  background-image: url(../recursos/oficiales/ñoquis.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-6:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-7 {
  background-image: url(../recursos/oficiales/flan-banana.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-7:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-8 {
  background-image: url(../recursos/oficiales/tarta4.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-8:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.titulo-recetas {
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipos-recetas {
  text-transform: capitalize;
  padding: 10px;
  padding-left: 15px;
  text-decoration: underline;
  color: #2b2d42;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.content {
  height: auto;
  width: 100%;
}

.contenedor-recetas-pastas {
  margin: 20px;
  height: 500px;
  width: 96%;
  border: 5px solid rgba(60, 135, 185, 0.8);
  border-radius: 7px;
  background: url(../recursos/productos/recetas-pastas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-recetas-pizzas {
  margin: 20px;
  height: 500px;
  width: 96%;
  border: 5px solid rgba(60, 135, 185, 0.8);
  border-radius: 7px;
  background: url(../recursos/productos/recetas-pizzas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-recetas-tartas {
  margin: 20px;
  height: 500px;
  width: 96%;
  border: 5px solid rgba(60, 135, 185, 0.8);
  border-radius: 7px;
  background: url(../recursos/productos/recetas-tartas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-recetas-pan {
  margin: 20px;
  height: 500px;
  width: 96%;
  border: 5px solid rgba(60, 135, 185, 0.8);
  border-radius: 7px;
  background: url(../recursos/productos/recetas-pizzas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-recetas p {
  padding: 10px;
  padding-left: 2px;
}

.content ul {
  padding-left: 20px;
}

.contenido-recetas-1,
.contenido-recetas-2,
.contenido-recetas-3,
.contenido-recetas-4,
.contenido-recetas-5,
.contenido-recetas-6,
.contenido-recetas-7,
.contenido-recetas-8,
.contenido-recetas-9,
.contenido-recetas-10,
.contenido-recetas-11,
.contenido-recetas-12,
.contenido-recetas-13,
.contenido-recetas-14,
.contenido-recetas-15 {
  margin: 20px;
  height: 300px;
  width: 400px;
  border-radius: 5px;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A6774E;
  height: 200px;
  text-shadow: #A6774E 8px 8px 8px;
}

.card img {
  height: 400px;
  width: 100;
}

.body-prod {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 4px 4px;
  background-color: #F2D399;
  border-radius: 5px;
  border: 10px solid white;
}

.container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.formulario {
  background-color: #BBBF69;
  width: 600px;
  height: 490px;
  border: 5px solid #F5F749;
}
.formulario h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

button {
  background-color: #CED3DC;
}

/*# sourceMappingURL=estilo.css.map */
