@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #F9F9F9;
  height: 800px;
}

header {
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F9F9F9;
  box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.36);
}
header ul {
  margin: 0;
  padding: 0;
}

.nav-bar {
  list-style-type: none;
}
.nav-bar a {
  color: #8c2574;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0px 15px;
  font-weight: 600;
}
.nav-bar li {
  list-style: none;
  display: inline-block;
}

main {
  background-image: url(../recursos/img_index/index-main.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 650px;
}
main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 90px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 20px;
  font-size: 70px;
  color: #8c2574;
  text-shadow: #2b2d42 7px 7px 7px;
}
main p {
  font-family: "Montserrat", sans-serif;
  text-transform: initial;
  color: white;
  font-size: 40px;
  padding-left: 5px;
  font-family: "PT Serif", serif;
}

.titulo-productos {
  text-align: center;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #8c2574;
  padding: 90px;
  font-weight: 2000;
}

.contenedor-tarjetas {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.contenedor-tarjetas .tarjetas {
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-tarjetas #imagen-1, .contenedor-tarjetas #imagen-8, .contenedor-tarjetas #imagen-7, .contenedor-tarjetas #imagen-6, .contenedor-tarjetas #imagen-5, .contenedor-tarjetas #imagen-4, .contenedor-tarjetas #imagen-3, .contenedor-tarjetas #imagen-2 {
  background-image: url(../recursos/img_index/index-pastas.jpg);
  background-position: center;
  background-size: cover;
}
.contenedor-tarjetas #imagen-2 {
  background-image: url(../recursos/img_index/index-tartas.jpg);
}
.contenedor-tarjetas #imagen-3 {
  background-image: url(../recursos/img_index/index-panes.jpg);
}
.contenedor-tarjetas #imagen-4 {
  background-image: url(../recursos/img_index/index-facturas.jpg);
}
.contenedor-tarjetas #imagen-5 {
  background-image: url(../recursos/img_index/index-budin.jpg);
}
.contenedor-tarjetas #imagen-6 {
  background-image: url(../recursos/img_index/Index-empanada.jpg);
}
.contenedor-tarjetas #imagen-7 {
  background-image: url(../recursos/img_index/index-pizza.jpg);
}
.contenedor-tarjetas #imagen-8 {
  background-image: url(../recursos/img_index/index-flanes.jpg);
}
.contenedor-tarjetas .contenido {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 1, 7, 0.705);
  opacity: 0;
  transition: 0.5s;
  font-family: "Poppins", sans-serif;
}
.contenedor-tarjetas .contenido:hover {
  opacity: initial;
}
.contenedor-tarjetas h4 {
  text-transform: uppercase;
  padding-left: 10px;
  color: #ffffff;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.contenedor-tarjetas a {
  color: #ffffff;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 600;
}
.contenedor-tarjetas .button {
  padding: 12px;
  font-family: "Poppins", sans-serif;
}

footer {
  width: 100%;
  height: 200px;
  box-sizing: unset;
}

.titulo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}
.titulo-footer h4 {
  text-transform: uppercase;
  color: #8c2574;
}

.contacto-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contacto-iconos i {
  font-size: 30px;
  padding: 15px;
}

.copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.sobre-nos {
  height: 700px;
  background: none;
}
.sobre-nos h1 {
  padding: 20px 20px;
}
.sobre-nos p {
  padding: 20px 50px;
  text-align: justify;
  color: black;
}

.nos-contenedor {
  height: auto;
  width: 97%;
  padding-left: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 400px);
}

.item-1, .item-8, .item-7, .item-6, .item-5, .item-4, .item-3, .item-2 {
  background-image: url(../recursos/img_nos/img-1.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid rgb(177, 184, 87);
  transition: all 0.5s;
  filter: sepia(100%);
}
.item-1:hover, .item-8:hover, .item-7:hover, .item-6:hover, .item-5:hover, .item-4:hover, .item-3:hover, .item-2:hover {
  filter: sepia(0%);
  transform: scale(1.06);
}

.item-2 {
  background-image: url(../recursos/img_nos/img-2.jpg);
}

.item-3 {
  background-image: url(../recursos/img_nos/img-3.jpg);
}

.item-4 {
  background-image: url(../recursos/img_nos/img-4.jpg);
}

.item-5 {
  background-image: url(../recursos/img_nos/img-5.jpg);
}

.item-6 {
  background-image: url(../recursos/img_nos/img-6.jpg);
}

.item-7 {
  background-image: url(../recursos/img_nos/img-7.jpg);
}

.item-8 {
  background-image: url(../recursos/img_nos/img-8.jpg);
}

.titulo-recetas {
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8c2574;
  height: 200px;
  text-shadow: #8c2574 1px 6px 9px;
}

.contenedor {
  width: 85%;
  padding-left: 300px;
}
.contenedor h4 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #8c2574;
}
.contenedor .card {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor img {
  height: 100%;
  width: 100%;
}
.contenedor h5 {
  text-transform: capitalize;
}
.contenedor a {
  font-size: 20px;
}

.container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.formulario {
  background-color: #BBBF69;
  width: 600px;
  height: 490px;
  border: 5px solid #F5F749;
}
.formulario h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

label,
input,
textarea {
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
}

button {
  background-color: #CED3DC;
}

/* Vista 320px a 375*/
@media only screen and (min-width: 320px) and (max-width: 375px) {
  /* Header */
  header {
    width: auto;
  }
  header .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  header .nav-bar a {
    font-size: 7px;
  }
  /* main */
  main {
    width: auto;
  }
  main h1 {
    font-size: 25px;
    padding: 0px;
  }
  main p {
    font-size: 25px;
    padding-left: 0px;
  }
  .titulo-productos {
    font-size: 35px;
    padding: 0px;
  }
  .contenedor-tarjetas {
    height: auto;
    width: auto;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(4, 320px);
    padding: 0px;
  }
  .contenedor-tarjetas .contenido {
    width: 600px;
    opacity: 1;
    transition: 0s;
  }
  /* Productos*/
  .titulo {
    font-size: 30px;
  }
  .contenedor {
    width: 93%;
    padding-left: 0px;
  }
  .contenedor .card {
    width: 80px;
  }
  .contenedor h5 {
    font-size: 15px;
  }
  .contenedor a {
    font-size: 15px;
  }
  /* Sobre-Nos*/
  .sobre-nos {
    height: 700px;
    background: none;
    overflow: scroll;
  }
  .sobre-nos p {
    padding: 0px;
    padding-right: 5px;
  }
  .nos-contenedor {
    height: 100%;
    width: 97%;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(8, 300px);
  }
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
    border: 3px solid rgb(177, 184, 87);
    transition: all 0s;
    filter: sepia(0%);
  }
  .item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover {
    filter: sepia(0%);
    transform: none;
  }
}
/* Vista 375px a 425*/
@media only screen and (min-width: 375px) and (max-width: 425px) {
  /* Header */
  header {
    width: 100%;
  }
  header .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  header .nav-bar a {
    font-size: 9px;
  }
  /* main */
  main h1 {
    font-size: 30px;
    padding: 0px;
  }
  main p {
    font-size: 25px;
  }
  .titulo-productos {
    font-size: 35px;
  }
  .contenedor-tarjetas {
    height: auto;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(3, 300px);
  }
  .contenedor-tarjetas .contenido {
    width: 600px;
    opacity: 1;
    transition: 0s;
  }
  /* Productos*/
  .titulo {
    font-size: 30px;
  }
  .contenedor {
    width: 95%;
    padding-left: 10px;
  }
  .contenedor .card {
    width: 80px;
  }
  .contenedor h5 {
    font-size: 15px;
  }
  .contenedor a {
    font-size: 15px;
  }
  /* Sobre-Nos*/
  .sobre-nos {
    height: 700px;
    background: none;
    overflow: scroll;
  }
  .sobre-nos p {
    padding: 0px;
    padding-right: 5px;
    font-size: 20px;
  }
  .nos-contenedor {
    height: 100%;
    width: 97%;
    display: grid;
    justify-content: center;
    padding-left: 10px;
    grid-template-columns: repeat(1, 370px);
    grid-template-rows: repeat(8, 300px);
  }
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
    border: 3px solid rgb(177, 184, 87);
    transition: all 0s;
    filter: sepia(0%);
  }
  .item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover {
    filter: sepia(0%);
    transform: none;
  }
  /* Footer */
  footer {
    width: 100%;
  }
}
/* Vista Mobile*/
/*425 hasta 768*/
@media only screen and (min-width: 425px) and (max-width: 768px) {
  /* Header */
  header {
    width: auto;
  }
  header .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  header .nav-bar a {
    font-size: 11px;
  }
  /* main */
  main {
    width: auto;
  }
  main h1 {
    font-size: 40px;
    padding: 0px;
  }
  main p {
    font-size: 30px;
  }
  .contenedor-tarjetas {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(4, 300px);
  }
  .contenido {
    opacity: 1;
    transition: 0s;
  }
  /* Productos*/
  .titulo {
    font-size: 40px;
  }
  .contenedor {
    width: 93%;
    padding-left: 0px;
  }
  .contenedor .card {
    width: 110px;
  }
  /* Sobre-Nos*/
  .sobre-nos {
    width: auto;
    height: 700px;
    background: none;
    overflow: scroll;
  }
  .sobre-nos p {
    padding: 0px;
    padding-right: 5px;
  }
  .nos-contenedor {
    height: 100%;
    width: auto;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: repeat(4, 300px);
  }
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
    border: 3px solid rgb(177, 184, 87);
    transition: all 0s;
    filter: sepia(0%);
  }
  .item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover {
    filter: sepia(0%);
    transform: none;
  }
}
/* Vista Tablet*/
/*768 hasta 1024*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Header */
  header {
    width: 100%;
  }
  header .nav-bar ul {
    display: flex;
    justify-content: space-between;
  }
  header .nav-bar a {
    font-size: 20px;
  }
  /* main */
  main h1 {
    font-size: 50px;
    padding: 0px;
  }
  main p {
    font-size: 35px;
  }
  .contenedor-tarjetas {
    height: 100%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 350px);
    grid-template-rows: repeat(2, 400px);
  }
  .contenedor-tarjetas .tarjetas {
    width: 300px;
  }
  .contenedor-tarjetas .contenido {
    opacity: 1;
    transition: 0s;
  }
  /* Productos*/
  .titulo {
    font-size: 50px;
  }
  .contenedor {
    width: 97%;
    padding-left: 40px;
  }
  .contenedor .card {
    width: 100px;
  }
  /* Sobre-Nos*/
  .sobre-nos {
    height: 700px;
    width: 100%;
    background: none;
    overflow: auto;
  }
  .sobre-nos p {
    padding: 0px;
    padding-right: 0px;
    font-size: 30px;
  }
  .nos-contenedor {
    height: 100%;
    width: 100%;
    display: grid;
    padding-left: 0px;
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: repeat(4, 300px);
    padding-left: 2px;
  }
  .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
    border: 3px solid rgb(177, 184, 87);
    transition: all 0s;
    filter: sepia(0%);
  }
  .item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover, .item-6:hover, .item-7:hover, .item-8:hover {
    filter: sepia(0%);
    transform: none;
  }
}

/*# sourceMappingURL=estilo.css.map */
