.titulo-productos {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    padding: 15px;
    color: #8c2574;
    
    padding: 90px;
    font-weight: 2000;
}

.contenedor-tarjetas {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;

    h4 {
        text-transform: uppercase;
        padding-left: 10px;
        font-family: 'PT Serif', serif;
        font-size: 30px;
    }

    p {
        padding-left: 10px;
        text-align-last: start;
        color: #CED3DC;
        font-size: 20px;
    }
}

.tarjetas {
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#imagen-1{
    background-image: url(https://img.remediosdigitales.com/0b7f50/lamborghini_revuelto_6/1366_2000.jpeg);
    
}
#imagen-2{
    background-image: url(https://cdn.motor1.com/images/mgl/kNREB/s1/lamborghini-huracan-sto.jpg);
    
}
#imagen-3{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
    
    
}
#imagen-4{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
    
    
}
#imagen-5{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
    
}
#imagen-6{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
   
}
#imagen-7{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}
#imagen-8{
    background-image: url(https://cdn.motor1.com/images/mgl/OozxwY/s1/2024-lamborghini-aventador-successor-rendering.webp);
}

.contenido {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1, 1, 7, 0.705);
    opacity: 0;
    transition: .5s;

    h4 {
        color: #ffffff;
        margin: 10px 0;
        font-family: 'PT Serif', serif;
        font-size: 600;
    }
}

a {
    color: #ffffff;
    margin: 10px 0;
    font-family: 'PT Serif', serif;
    font-size: 600;
}

.tarjetas,
.contenido:hover {
    opacity: 2;
}

.button {
    padding: 12px;
    font-family: 'Poppins', sans-serif;
}