header {
    height: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F9F9F9;
    box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.36);

    ul {
        margin: 0;
        padding: 0;
    }
}

.nav-bar {
    list-style-type: none;

    a {
        color: #8c2574;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 25px;
        padding: 0px 15px;
        font-weight: 600;
    }

    li {
        list-style: none;
        display: inline-block;
    }
}