h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8c2574;
    height: 200px;
    text-shadow: #8c2574 1px 6px 9px;
}

.contenedor {
    width: 85%;
    padding-left: 300px;
    
    h4 {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: 40px;
        color: #8c2574;
    }
    .card{
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    img {
        height: 100%;
        width: 100%;
    }

    h5 {
        text-transform: capitalize;
    }

    a {
        font-size: 20px;
    }
}