.titulo-recetas {
    text-transform: uppercase;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos-recetas {
    text-transform: capitalize;
    padding: 10px;
    padding-left: 15px;
    text-decoration: underline;
    color: #2b2d42;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.content {
    height: auto;
    width: 100%;
}

.contenedor-recetas-pastas {
    margin: 20px;
    height: 500px;
    width: 96%;
    border: 5px solid rgba(60, 135, 185, 0.8);
    border-radius: 7px;
    background: url(../recursos/productos/recetas-pastas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-recetas-pizzas {
    margin: 20px;
    height: 500px;
    width: 96%;
    border: 5px solid rgba(60, 135, 185, 0.8);
    border-radius: 7px;
    background: url(../recursos/productos/recetas-pizzas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-recetas-tartas {
    margin: 20px;
    height: 500px;
    width: 96%;
    border: 5px solid rgba(60, 135, 185, 0.8);
    border-radius: 7px;
    background: url(../recursos/productos/recetas-tartas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-recetas-pan {
    margin: 20px;
    height: 500px;
    width: 96%;
    border: 5px solid rgba(60, 135, 185, 0.8);
    border-radius: 7px;
    background: url(../recursos/productos/recetas-pizzas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 3px 5px 5px rgba(60, 135, 185, 0.8);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-recetas p {
    padding: 10px;
    padding-left: 2px;
}

.content ul {
    padding-left: 20px;
}

.contenido-recetas-1,
.contenido-recetas-2,
.contenido-recetas-3,
.contenido-recetas-4,
.contenido-recetas-5,
.contenido-recetas-6,
.contenido-recetas-7,
.contenido-recetas-8,
.contenido-recetas-9,
.contenido-recetas-10,
.contenido-recetas-11,
.contenido-recetas-12,
.contenido-recetas-13,
.contenido-recetas-14,
.contenido-recetas-15 {
    margin: 20px;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    background-color: #ffffff;
    background-size: cover;
    box-shadow: 3px 5px 5px rgba(3, 32, 51, 0.8);
    overflow: hidden;
}