* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #F9F9F9;
    height: 800px;
    width: 100%;
}