footer {
    width: 100%;
    height: 200px;
    box-sizing: unset;
}

.titulo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;

    h4 {
        text-transform: uppercase;
        color: #8c2574;
    }
}

.contacto-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    i {
        font-size: 30px;
        padding: 15px;
    }
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}